body {
	font-size: 62.5%;
}

.gal {
	display: flex ;
	flex-wrap: wrap ;	
	justify-content: left;	
			
}	

h1 {
	font-family: fantasy;
	font-size: 3rem ;
	border-bottom: 2px solid pink ; 
	border-right: 2px solid pink ; 
	width: 400px;
	text-align: center;
}



img {
	width: 450px;
	height: 300px;		
	margin: 10px ;
	transition: all 0.5s;
}

img:hover {
	transform: scale(1.1);
}